<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Rooms Web Application</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="../../static/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>

  </head>
  <body>
    <header>

      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Logo</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="http://127.0.0.1:8000/">Listar Quartos</a></li>
              <li><a href="http://127.0.0.1:8000/new/">Cadastrar Quartos</a></li>
            </ul>
        </div>
      </nav>

    </header>

    <main>

      <h1>New post</h1>
      <form method="POST" class="room-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Salvar</button>
      </form>

    </main>

    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Footer Content</h5>
            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="http://127.0.0.1:8000/">Listar Quartos</a></li>
              <li><a class="grey-text text-lighten-3" href="http://127.0.0.1:8000/new/">Cadastrar Quartos</a></li>
              <li><a class="grey-text text-lighten-3" href="https://github.com/Nicacioneto/mysite">Repositório do projeto</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2014 Copyright Text
          <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="static/js/materialize.js"></script>
    <script src="static/js/init.js"></script>

  </body>
</html>
