<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rooms</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>
     <div>
        <h1>Rooms Web Aplication</h1>
    </div>

    <div>
        {% if room_list %}
            <ul>
                {% for room in room_list %}
                    <li><a href="{% url 'rooms:show' room.id %}">{{  room.room_title }}</a></li
                {% endfor %}
            </ul>
        {% else %}
            <p>No rooms are available.</p>
        {% endif %}
    </div>
</body>
</html>


